@font-face {
    font-family: 'Alphakind'; /* Choose a descriptive name for your font */
    src: url('/assets/Alphakind.ttf') format('truetype'); /* Specify the path to your .ttf file */
    /* Optional: Add other font properties like font-weight, font-style if needed */
}

html,
body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html.map-html {
    overflow-x: hidden;
}

[v-cloak] {
    display: none;
}

.row {
    max-width   : 1080px;
    margin-left : auto;
    margin-right: auto;
}

.map-container {
    height: 100% !important;

    #map {
        height: 100% !important;
    }

    .gm-style-iw-ch {
        display: none;
    }

    .gm-style .gm-style-iw-c {
        border-radius: 16px !important;
    }

    .gm-ui-hover-effect {
        top  : -10px !important;
        right: -25px !important;
        position: absolute !important;
    }

    .gm-style-iw,
    .gm-style-iw-d {
        padding : 0 !important;
        margin  : 0 !important;
        overflow: hidden !important;
        min-width: 235px !important;
        max-height: 340px !important;

        button span {
            filter: invert(1);
            width : 20px !important;
            height: 20px !important;
            margin: 17px -4px !important;
        }
    }

    @media only screen and (min-width: 980px) {
        .gm-style-pbc {
            opacity: 0 !important;
        }
    }
}

.pg-map-marker {
    border-radius: 50%;
    padding      : 4px;
    position     : relative;
    cursor       : pointer;
}

.infowindow {
    text-align: center;
    padding-bottom: 1.6em;

    h5 {
        font-weight   : 700;
        color         : map-get($colors, 'secondary');
        letter-spacing: .0375rem;
        margin-bottom : 16px !important;
        @media only screen and (max-width: 500px) {
            font-size: 17px;
        }
    }

    h6 {
        background-color: map-get($colors, 'green');
        color           : white;
        padding         : 0.6rem 1rem;
        font-size       : 16px !important;
        letter-spacing  : .0375rem;
        // font-weight     : 500;
        padding-right   : 40px !important;
    }

    .display-field-address {
        font-size: 1.25em;
        max-width: 250px;
        text-wrap: balance;
        margin: auto;
    }

    .display-field-url .btn {
        padding: 0.5rem 1rem;
        min-height: 26px !important;
        border-radius: 5px;
        font-family: 'Alphakind';
    }

    p {
        +p {
            margin-top: .25rem;
        }
    }

    p,
    h5 {
        margin-left : 16px;
        margin-right: 10px;
    }

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
        max-width: 400px;
    }
}

.primary-nav>div {
    position: relative;

    .collapse {
        position: absolute;
        left    : 2px;
        right   : 2px;
        bottom  : -1px;

        @media only screen and (min-width: map-get($breakpoints, 'md')) {
            bottom: -1.05rem;
        }
    }
}

.gmnoprint button {
    min-width: 0 !important;
    min-height: 0 !important;
}

nav .submenu {
    max-height: 300px !important;
    width     : 100%;
    overflow  : auto !important;

    li a.selected,
    li button.selected,
    li button:hover,
    li button:focus {
        background-color: rgba(255, 255, 255, 0.2) !important;
    }

    li button {
        width          : 100% !important;
        justify-content: flex-start !important;
        font-size      : 80% !important;
    }
}

.collapse.index-2 {
    z-index: 2 !important;
}

.btn-white,
.btn-light,
.clear-filters-row .btn {
    display         : inline-flex;
    justify-content : space-between;
    background-color: map-get($colors, 'primary') !important;
    border-color    : rgba(255, 255, 255, 0.4) !important;
    text-transform  : capitalize;

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
        min-width: 150px !important;
        max-width: 300px !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

.clear-filters-row .btn {
    border: 0;
}

.mobile-accordion-btn {
    width          : 100%;
    justify-content: flex-start !important;
    text-align     : left;

    * {
        pointer-events: none;
    }

    &::after {
        inset : auto !important;
        right : 16px !important;
        width : 10px !important;
        height: 10px !important;
    }
}

label.toggle.open+* {
    max-height: 100vh;
}

label.toggle.open+* {
    opacity       : 1;
    pointer-events: all;
    transform     : scaleY(1);
}

.hex-input {
    .btn {
        border-right : 0;
        border-radius: 4px 0 0 4px !important;
    }

    input {
        border-radius: 0 4px 4px 0 !important;
    }

    .btn-icon {
        max-width: 40px;
    }
}

.btn .category-color {
    height: 10px;
    width : 10px;
}